---
layout: default
title: Home
---

<img src="http://i.imgur.com/Ym4I0EK.png"/>

Welcome to Stanford ATLAS Fast TracKer Group!  We hope you enjoy our site and learn about us and the work we do.
<br><br>
We are physicists working on the <a href="http://www.atlas.ch">ATLAS experiment</a>, a high energy particle physics experiment at the world’s highest energy particle accelerator, the <a href="http://home.web.cern.ch/topics/large-hadron-collider" >Large Hadron Collider (LHC)</a>. The goals of the experiment are to study the most fundamental particles and forces in the universe, and to search for new particles and forces which have only been theorized.
<br><br>
In order to improve our ability to explore the world of fundamental particles, our group is working on a custom electronics system, the ATLAS FastTracKer (FTK), that quickly filters the tremendous amount of data produced by the experiment. Using the output of FTK, ATLAS’s data acquisition system will be able to better select which data to analyze.
<br><br>
We are particularly interested in the question, “Is the Higgs boson, which was observed in 2012 by ATLAS and our sister experiment, CMS, the only mass-giving particle, or is it part of a richer picture of how fundamental particles acquire mass?”.  We are trying to answer this question by searching for heavier Higgs bosons, which would give evidence that there is a mass-giving family of particles rather than just a solitary boson. To facilitate this work, we are developing tools to identify high-energy Higgs boson decays. 
<br>
<img src="http://i.imgur.com/Vh9TE2p.jpg"/>
Summer 2015 Stanford contingent: (From left to right) Zihao Jiang, Mingyu Kang, Rex Brown, Lauren Tompkins.  Not pictured: Grace Busse <br> <br>
<img src="http://i.imgur.com/YQcYkVw.jpg"/> 
Summer 2015 CERN contingent (From left to right) Nikolina Ilic, Jeff Rowland.  Not pictured: Victor Ruelas. <br> <br>


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

